body {
    background-color: #e4d5f3;
    font-family: optima;
}

h1 {
    color: #520652;
    font-size: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

p {

    font-size: 20px;
    color: #520652;
}

ul.body {
    font-size: 15px;
    color: rgb(140, 91, 140);
}

img.chai {
    width: 100px;
}

img.coffee {
    width: 150px;
}

footer p {
    font-size: 12px;
    margin: 20px;
}